@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

*{
    font-family: 'Smooch Sans', sans-serif;
    font-style: normal;
    color: rgb(93, 149, 253);
}

body {
    background-color: rgb(0, 35, 41);
}

.titlecont {
    border-bottom: 3px groove rgb(0, 151, 101);
    width: 100%;
    position: relative;
}

.cont {
    border: 3px groove rgb(0, 176, 117);
    border-radius:   15px;
}

#dimitra_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 215px;
}

#drink_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 415px;
}

#gaming_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 575px;
}

#professor_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 700px;
}

#activity_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 865px;
}

#food_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 1015px;
}

#water_img {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 900px;
    top: 1200px;
}

#btn1 {
    position: relative;
    left: 650px;
    font-size: x-large;
    top: 5px;
}